{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2 class="account-heading">{{ cur_contact.username }}</h2>
        <form method="POST" action="">
            {{ meeting_form.hidden_tag() }}
            <div class="form-group">
                {% for cur_symbol in contact_info %}
                    <i class="{{ cur_symbol.s_class }}" style="{{ cur_symbol.s_style }}"></i><p style="display:inline">&emsp;{{ cur_symbol.description }}</p><br>
                {% endfor %}
                <br>
                <p>{{ last_meeting_str }}</p>
                <div class="form-check-inline">
                  {{ meeting_form.refresh_time(class="form-check-input") }}
                  {{ meeting_form.refresh_time.label(class="form-check-label") }}
                </div><br>
                <div class="form-check-inline">
                  {{ meeting_form.regular_contact(class="form-check-input", onclick="DisableCheckbox()") }}
                  {{ meeting_form.regular_contact.label(class="form-check-label") }}
                </div><br>
                {{ meeting_form.form_submit(class="btn btn-primary btn-sm m-1") }}
            </div>
            <div class="form-group">
                <a class="btn btn-primary btn-sm m-1" href="{{ url_for('relationships.user_contacts') }}" role="button">Back to Contacts</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete Contact</button>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Contact?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('relationships.delete_contact', rs_id=rs_id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        DisableCheckbox() ;

        function DisableCheckbox() {
            var in_checkbox = document.getElementById("{{ meeting_form.regular_contact.id }}") ;
            var out_checkbox = document.getElementById("{{ meeting_form.refresh_time.id }}") ;

            out_checkbox.disabled = in_checkbox.checked ;
            if (in_checkbox.checked == true){
                out_checkbox.checked = true ;
            }
        }
    </script>
{% endblock %}