{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2 class="account-heading border-bottom pb-3">{{ g.cur_user.username }}</h2>
        {% for cur_message in user_message %}
            <h5 class="mt-4">{{ cur_message[0] }}</h5>
            {% for cur_sub_message in cur_message[1:] %}
                <p>{{ cur_sub_message }}</p>
            {% endfor %}
        {% endfor %}

        <button type="button" class="btn btn-primary btn-sm m-1" data-toggle="modal" data-target="#updateModal">Update status</button>
    </div>

    <div class="content-section">
        <h2 class="account-heading border-bottom pb-3">Your contacts</h2>
        {% if contact_list_info %}
            <ul class="list-group list-group-flush">
                {% for cur_user, cur_info in contact_list_info %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="h3" style="text-decoration: none; color: inherit;" href="{{ url_for('relationships.contact_detail', rs_id=cur_user[1].id) }}"> {{ cur_user[0].username }}</a>
                        <span class="pull-right">
                            {% for cur_symbol in cur_info %}
                                <i class="{{ cur_symbol.s_class }}" style="{{ cur_symbol.s_style }}" title="{{ cur_symbol.description }}"></i>
                            {% endfor %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No contact</h3>
        {% endif %}

        <button type="button" class="btn btn-primary btn-sm m-1" data-toggle="modal" data-target="#contactModal">Add contact</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="">
            {{ user_form.hidden_tag() }}
              <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update your status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <fieldset class="form-group">
                      <div class="form-check-inline">
                          {{ user_form.has_covid(class="form-check-input") }}
                          {{ user_form.has_covid.label(class="form-check-label") }}
                      </div><br>
                      <div class="form-check-inline">
                          {{ user_form.is_sick(class="form-check-input") }}
                          {{ user_form.is_sick.label(class="form-check-label") }}
                      </div><br>
                      <div class="form-check-inline">
                          {{ user_form.has_recovered(class="form-check-input") }}
                          {{ user_form.has_recovered.label(class="form-check-label") }}
                      </div><br>
                      <div class="form-check-inline">
                          {{ user_form.is_vaccinated(class="form-check-input") }}
                          {{ user_form.is_vaccinated.label(class="form-check-label") }}
                      </div>
                  </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ user_form.user_submit(class="btn btn-primary") }}
              </div>
            </form>
        </div>
      </div>
    </div>

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="">
            {{ rs_form.hidden_tag() }}
              <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Add a new contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <fieldset class="form-group">
                      <div class="form-group">
                            {{ rs_form.user_id.label(class="form-control-label") }}
                            {% if rs_form.user_id.errors %}
                                {{ rs_form.user_id(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in rs_form.user_id.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ rs_form.user_id(class="form-control form-control-lg") }}
                            {% endif %}
                      </div>
                      <div class="form-group">
                            {{ rs_form.username.label(class="form-control-label") }}
                            {% if rs_form.username.errors %}
                                {{ rs_form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in rs_form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ rs_form.username(class="form-control form-control-lg") }}
                            {% endif %}
                      </div>
                      <div class="form-check-inline">
                          {{ rs_form.regular_contact(class="form-check-input", onclick="DisableCheckbox()") }}
                          {{ rs_form.regular_contact.label(class="form-check-label") }}
                      </div><br>
                  </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ rs_form.rs_submit(class="btn btn-primary") }}
              </div>
            </form>
        </div>
      </div>
    </div>

{% endblock %}

{% block script %}
    {% if show_rs_modal %}
        <script>
            $('#contactModal').modal('show')
        </script>
    {% endif %}
{% endblock %}