{% extends "layout.html" %}
{% block content %}
    <h1>Daily update</h1>
    <p>
        In this version, the daily update is not configured, and this update is done only by clicking the "Do the daily update" button.
        You can also change today's date, but expired contacts will not be reactivated, even if you go back in time.
    </p>
    <form method="POST" action="">
        {{ update_form.hidden_tag() }}
        <div class="modal-body">
            <fieldset>
                <div class="form-group date">
                    {{ update_form.today_date.label(class="form-control-label") }}
                    {{ update_form.today_date(class="form-control form-control-lg") }}
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            {{ update_form.do_daily_update(class="btn btn-primary m-1") }}
            <a class="btn btn-secondary m-1" href="{{ url_for('relationships.user_contacts') }}" role="button">Skip the update</a>
        </div>
    </form>
{% endblock %}