{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        {% if g.cur_user.children %}
            <form method="GET" id="FormContext"></form>
            <ul class="list-group list-group-flush">
                {% for child_id in range(g.cur_user.children|length) %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="h3" style="text-decoration: none; color: inherit;" href="{{ url_for('users.got_to_sub_account', child_id=child_id) }}"> {{ g.cur_user.children[child_id].username }}</a>
                        <span class="pull-right">
                            <button type="submit" class="btn btn-primary" formaction="{{ url_for('users.got_to_sub_account', child_id=child_id) }}" form="FormContext">Go To</button>
                            {% if g.cur_user.children[child_id].email and g.cur_user.children[child_id].password %}
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#detachModal{{ child_id }}">Detach</button>
                            {% else %}
                                <button type="button" class="btn btn-outline-secondary" disabled>Detach</button>
                            {% endif %}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ child_id }}">Delete</button>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No sub-account created</h3>
        {% endif %}

        <form action="{{ url_for('users.create_sub_account') }}">
            <input class="btn btn-outline-info mt-3" type="submit" value="Create new sub-account">
        </form>
    </div>

    <!-- Modal -->
    {% for child_id in range(g.cur_user.children|length) %}
        {% set children_list = get_children_recursive(g.cur_user.children[child_id]) %}
        <div class="modal fade" id="deleteModal{{ child_id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ child_id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel{{ child_id }}">Delete '{{ g.cur_user.children[child_id].username }}' account?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% if children_list %}
                  <div class="modal-body">
                      <p>
                          {% if children_list|length == 1 %}
                            By deleting this account, the following account will also be deleted:<br><b>
                            <br>&emsp;{{ children_list[0].username }}</b>
                          {% elif 1 < children_list|length %}
                            By deleting this account, the following accounts will also be deleted:<br><b>
                            {% if children_list|length < 11 %}
                                {% for cur_child in children_list %}
                                    <br>&emsp;{{ cur_child.username }}
                                {% endfor %}
                            {% else %}
                                {% for cur_child in range(5) %}
                                    <br>&emsp;{{ children_list[cur_child].username }}
                                {% endfor %}
                                    <br>&emsp;And {{ children_list|length - 5 }} other accounts
                            {% endif %}</b>
                          {% endif %}
                      </p>
                  </div>
              {% endif %}
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('users.delete_sub_account', child_id=child_id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="detachModal{{ child_id }}" tabindex="-1" role="dialog" aria-labelledby="detachModalLabel{{ child_id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="detachModalLabel{{ child_id }}">Detach '{{ g.cur_user.children[child_id].username }}' account?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  By confirming, you will lose direct access to this account.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('users.detach_sub_account', child_id=child_id) }}" method="POST">
                    <input class="btn btn-warning" type="submit" value="Detach">
                </form>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}